body {
    background-image: url('img/grass.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps background fixed while scrolling */
    margin: 0;
    padding: 0;
}

.dropbtn {
    background-color: #B19470;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.dropbtn:hover {
    background-color: #b19470a9;
}

#plantSeedBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #37923a;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

#plantSeedBtn:hover {
    background-color: #45a049;
}

#treeContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

#treeContainer img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#treeContainer .seedName {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
}

.seed {
    text-align: center;
    position: relative;
    display: inline-block;
}

.seed img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.seedName {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.seedName:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.backButton:hover {
    background-color: #45a049;
}

#treeView {
    margin-top: 60px;
    /* Add your tree visualization styling here */
}